@mixin nav-button($color, $bgcolor, $hcolor) {
    background-color: $bgcolor;
    color: $color;
    text-decoration: none;
    &:hover {
        border-top: 5px solid $hcolor;
    }
}
@mixin location-button($color, $bgcolor,$hcolor) {
    background-color: $bgcolor;
    color: $color;
    text-decoration: none;
    &:hover {
       /* a la place de la ligne suivante: mettre l icone en bleu clair une fois l icone ajoute*/
       border-top: 5px solid $hcolor;
    }
}
@mixin admin-shortcut-button($color, $bgcolor, $bdcolor, $hcolor) {
    background-color: $bgcolor;
    color: $color;
    border-top: 2px solid $bdcolor;
    text-decoration: none;
    &:hover {
        border-top: 2px solid $hcolor;
    }
}
@mixin plus-button($color, $bgcolor) {
    background-color: $bgcolor;
    color: $color;
    text-decoration: none;
    &:hover {
        color: $bgcolor;
        background-color: $color;
    }
}
